# Ignore data
/data/*

# Ingore remote config file
/remote/settings.py

# Ignore python bins
*.pyc
.venv
__pycache__

# Ignore simulation output
/hardware/sim/*/sim_build
/hardware/sim/*/results.xml
/hardware/sim/*/*.vcd

# Ignore Xilinx files
.Xil
*.log
*.jou
*.str
hd_visual/
/hardware/target/fpga/*.ucdprod
/hardware/target/fpga/*/*.cache
/hardware/target/fpga/*/*.hw
/hardware/target/fpga/*/*.ip_user_files
/hardware/target/fpga/*/*.runs
/hardware/target/fpga/*/*.sim
/hardware/target/fpga/*/*.xpr

# Ignore windows files
Thumbs.db
