# Ignore data
/data/*

# Ingore remote config file
/remote/settings.py

# Ignore python bins
*.pyc
.venv
__pycache__

# Ignore simulation output
/hardware/sim/*/sim_build
/hardware/sim/*/results.xml
/hardware/sim/*/*.vcd

# Ignore Xilinx files
.Xil
*.log
*.jou
*.str
.ucdprod
hd_visual/
/hardware/target/fpga/xilinx/*/*.cache
/hardware/target/fpga/xilinx/*/*.hw
/hardware/target/fpga/xilinx/*/*.ip_user_files
/hardware/target/fpga/xilinx/*/*.runs
/hardware/target/fpga/xilinx/*/*.sim
/hardware/target/fpga/xilinx/*/*.xpr

# Ignore windows files
Thumbs.db
