regmap:
-   name: ID
    description: OpenTRNG's PTRNG identification register for UID and revision number.
    address: 0
    bitfields:
    -   name: UID
        description: Unique ID for OpenTRNG's PTRNG
        reset: 0xCEA3
        width: 16
        lsb: 0
        access: ro
        hardware: f
    -   name: REV
        description: Revision number
        reset: 1
        width: 16
        lsb: 16
        access: ro
        hardware: f
-   name: CONTROL
    description: Global control register for the OpenTRNG's PTRNG
    bitfields:
    -   name: RESET
        description: Synchronous reset active to `'1'`
        width: 1
        lsb: 0
        access: wosc
        hardware: o
-   name: RING
    description: Ring-oscillator enable register (enable bits are active at `'1'`).
    bitfields:
    -   name: EN
        description: The bit at index _i_ in the bitfield enables the RO number _i_
        width: 32
        lsb: 0
        access: rw
        hardware: o
-   name: FREQCOUNT
    description: Frequency counter control register.
    bitfields:
    -   name: EN
        description: Enable the frequency counter (active at `'1'`)
        width: 1
        lsb: 0
        access: rw
        hardware: o
    -   name: START
        description: Write `'1'` to start the frequency counter measure
        width: 1
        lsb: 1
        access: wosc
        hardware: o
    -   name: DONE
        description: This field is set to `'1'` when the measure is done and ready to be read
        width: 1
        lsb: 2
        access: ro
        hardware: i
    -   name: SELECT
        description: Select the index of the ring-oscillator for frequency measurement
        width: 5
        lsb: 3
        access: rw
        hardware: o
    -   name: VALUE
        description: Measured value (unit in cycles of the system clock)
        width: 23
        lsb: 8
        access: ro
        hardware: i
    -   name: OVERFLOW
        description: Flag set to `'1'` if an overflow occurred during measurement
        width: 1
        lsb: 31
        access: ro
        hardware: i
# -   name: REG_TYPE
#     description: Register to select the type of sampling.
#     bitfields:
#     -   name : TYPE
#         width: 8
#         lsb: 0
#         access: rw
#         hardware: o
#         enums:
#         -   name: NONE
#             description: No sampling
#             value: 0
#         -   name: TEST_LFSR
#             description: LFSR for test purpose only
#             value: 1
#         -   name: ERO
#             description: Elementary Ring-Oscillato
#             value: 2
#         -   name: MURO
#             description: Multi Ring-Oscillator
#             value: 3
#         -   name: COSO
#             description: Coherent Sampling Ring-Oscillator
#             value: 4
-   name: FREQDIVIDER
    description: Clock divider register, applies on oscillator RO0
    bitfields:
    -   name: VALUE
        description: Clock divider value (1 means no division, 2 division by two, ...)
        width: 32
        lsb: 0
        access: rw
        hardware: o
# -   name: ACCUMULATOR
# -   name: ENTROPY
-   name: ALARM
    description: Register for the total failure alarm.
    bitfields:
    -   name: THRESHOLD
        description: Threshold value for triggering the total failure alarm. The threshold is compared to a counter, alarm is triggered when the counter greater or equal than the threshold. The counting method depends on the digitizer (ERO/MURO/COSO...)
        width: 16
        lsb: 0
        access: rw
        hardware: o
    -   name: DETECTED
        description: This signal is triggered to '1' in the event of a total failure alarm, the alarm is cleared on read.
        width: 1
        lsb: 16
        access: roc
        hardware: i
# -   name: ONLINETESTS
-   name: FIFOCTRL
    description: Control register for the FIFO, into read the PTRNG random data output
    bitfields:
    -   name: CLEAR
        description: Clear the FIFO
        width: 1
        lsb: 0
        access: wosc
        hardware: o
    -   name: PACKBITS
        description: Pack LSBs from each IRN into 32bits words (LSB to be read first); else all 32bits of IRN are written into the FIFO.
        reset: 1
        width: 1
        lsb: 1
        access: rw
        hardware: o
    -   name: EMPTY
        description: Empty flag
        width: 1
        lsb: 2
        access: ro
        hardware: i
    -   name: FULL
        description: Full flag
        width: 1
        lsb: 3
        access: ro
        hardware: i
    -   name: ALMOSTEMPTY
        description: Almost empty flag
        width: 1
        lsb: 4
        access: ro
        hardware: i
    -   name: ALMOSTFULL
        description: Almost full flag
        width: 1
        lsb: 5
        access: ro
        hardware: i
    -   name: RDBURSTAVAILABLE
        description: Valid to '1' when a burst is available for read (see BURSTSIZE)
        width: 1
        lsb: 6
        access: ro
        hardware: i
    -   name: BURSTSIZE
        description: Size of a burst (in count of 32bit words)
        width: 16
        lsb: 7
        access: ro
        hardware: i
-   name: FIFODATA
    description: Data register for the FIFO to read the PTRNG random data output
    bitfields:
    -   name: DATA
        description: 32 bits word from the PTRNG
        width: 32
        lsb: 0
        access: ro
        hardware: q
